Package: jp.ashikase.libsymbolicate
Name: libsymbolicate
Version: 1.3.0
Description: Library to parse and symbolicate crash reports.
    This library is based upon CrashReporter by kennytm.
Architecture: iphoneos-arm
Pre-Depends: firmware (>=3.0)
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libsymbolicateData
Homepage: http://github.com/ashikase/libsymbolicate
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <support@ashikase.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Development
Tag: role::developer
dev: ashikase
